*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-weight: 200;
}

.logo a{
    color: #333;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    color: #333;
    z-index: 100;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.li a{
    font-size: 17px;
    font-weight: 100;
    font-family: sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: #333;
    transition: .2s ease-in-out;
    padding: 12px 0px 12px 12px;
}

.li a:hover{
    opacity: .6;
}

.nav-btn{
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(0, 157, 255);
    color: #fff;
    transition: .2s ease-in-out;
}

.nav-btn:hover{
    opacity: .8;
}

.toggle-button{
    display: none;
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 1.7rem;
    color: #333;
    cursor: pointer;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#333;
    position: relative;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

.hero-img-div{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    height: 340px;
    animation: slide-in 1000ms;
}

.hero-img{
    height: 100%;
}

.name{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hero h1{
    font-size: 5rem;
    letter-spacing: 3px;
}

.hero span{
    font-size: 2rem;
    letter-spacing: 3px;
    color: #333;
}

.hero-text{
    max-width: 800px;
    line-height: 1.6;
}

.hero-btn{
    margin-top: 20px;
}

/* ABOUT */
.about-container img{
    max-width: 400px;
    width: 100%;
}

.about{
    background-color: black;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    font-weight: 300;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.about-text{
    padding: 40px 20px;
    max-width: 800px;
    font-size: 1.1rem;
    color: whitesmoke;
}

.icons-container{
    padding-left: 40px;
    text-transform: uppercase;
}

.icons-container i{
    color: rgb(0, 157, 255);
}

.dev-icons{
    text-align: center;
    font-size: 4rem;
    color: #333;
}

.dev-icons i{
    margin: 0px 5px;
    transition: .3s;
}

.dev-icons i:hover{
    transform: translateY(-12px);
    opacity: 1;
}

/* PROJECTS */
#projects{
    padding: 10px;
}

.projects-container-inner{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 6px gray;
    border-radius: 4px;
}

.projects-container{
    display: flex;

}

.container-row{
    flex: 1;
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.row-column-1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}

.row-column-1 h3{
    color: #333;
}


.row-column-1 p{
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
}

.row-column-2{
    height: 100%;
}

.row-column-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links{
    margin-top:30px;
}

.btn{
    /* display: inline-block; */
    padding: 10px 40px;
    margin-right: 8px;
    border-radius: 4px;
    outline: 1px solid #333;
    color: #333;
}

.btn:hover{
    outline: 1px solid rgba(51, 51, 51, 0.502);
    color:  rgba(51, 51, 51, 0.725);
    transition: .1s ease-in-out;
}

.btn-2{
    padding: 10px 40px;
    outline: 1px solid rgba(51, 51, 51, 0.502);
    color:  rgba(51, 51, 51, 0.725);
    outline-color: #333;
    color: #333;
}

/* CARDS */
.cards{
    padding: 60px 10px 0px 10px;
}

.cards-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
   text-align: center;
   padding: 60px 10px;
   max-width: 300px;
   box-shadow: 0px 0px 6px gray;
   transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card p{
    line-height: 1.6;
    font-size: 1.1rem;
}

.card-icon i{
    font-size: 4rem;
    margin-bottom: 40px;
    background-color: rgb(0, 157, 255);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #333;
    color: #fff;
    opacity: .8;
}

.cardimg{
    width: 100%;
}


/* FOOTER */
.foot-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}

.list i{
    display: inline-block;
    padding: 5px 5px;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.list i:hover{
    transform: scale(1.1);
}

.list{
    font-size: .8rem;
}

.list span{
    color: #333;
}

.list a{
    color: #333;
    text-decoration: underline;
}

.one{
    color: #fff;
    font-size: 1.4rem;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgb(0, 191, 255);
    background-color: #333;
    transition: all .2s ease-in-out;
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: .8;
}

.one:hover{
    transform: scale(1.1);
    opacity: 1;
}

.cnt-links{
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    
    .about-container{
        flex-direction: column;
    }

    .foot-container{
        flex-direction: column;
    }
    .projects-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }

    .navbar-links.active{
        display: flex;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
    }
}