*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.about-img{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
    font-weight: 300;
}

.logo a{
    color: #333;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: #333;
}

.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(/orange.jpg) no-repeat center center/cover;
}

.logo{
    font-size: 1.9rem;
    font-family: sans-serif;
    font-weight: 200;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

ul li{
    position: relative;
}

ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: .3s;
}

ul li:hover::after{
    width: 100%;
}

ul li a{
    font-size: 14px;
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-btn a{
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    color: white;
}

@keyframes fade-in {
    from {
      transform:
        rotate(0deg) translateX(-50%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateX(0%);
      opacity: 1;
    }
  }
@keyframes fade-in-left {
    from {
      transform:
        rotate(0deg) translateX(50%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateX(0%);
      opacity: 1;
    }
  }
@keyframes fade-in-up {
    from {
      transform:
        rotate(0deg) translateY(50%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateX(0%);
      opacity: 1;
    }
  }

.name{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 40px;
    animation: fade-in 900ms;
}

.hero h1{
    font-size: 5rem;
    letter-spacing: 3px;
    animation: fade-in-left 1200ms;
}

.hero span{
    font-size: 2rem;
    letter-spacing: 3px;
    animation: fade-in-up 2000ms;
}

.hero-text{
    margin-top: 20px;
    max-width: 800px;
    line-height: 1.6;
}

.box{
    color: white;
}

/* ABOUT */

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
    font-weight: 300;
}

.about-text{
    padding: 20px 20px;
    max-width: 700px;
    color: #333;
    font-size: 1.1rem;
}

.icons-container{
    padding-left: 40px;
    text-transform: uppercase;
}

.dev-icons{
    text-align: center;
    font-size: 3rem;
    color: lightseagreen;
}

.dev-icons i{
    margin: 0px 5px;
    transition: .3s ease-in-out;
    opacity: .7;
}

.dev-icons i:hover{
    transform: translateY(-5px);
    opacity: 1;
}

/* PROJECTS */

#projects{
    padding-top: 20px;
}
.container-row{
    flex: 1;
    display: flex;
}

.row-column-1{
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.row-column-1 h3{
    /* font-size: 1.8rem; */
}

.row-column-1 p{
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
}

.row-column-2{
    height: 100%;
}

.row-column-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links{
    margin-top:30px;
}

.btn{
    /* display: inline-block; */
    padding: 12px 40px;
    color: #333;
    margin-right: 3px;
    outline: 2px solid #333;
    position: relative;
}

.btn::after{
    content: '';
    height: 100%;
    width: 0;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s;
    z-index: -1;
}

.btn:hover::after{
    width: 100%;
}

.btn:hover{
    color: white;
}

.btn-2{
    padding: 12px 40px;
    outline: 2px solid #333;
    color:#333;
}

.idlc-col{
    color: #333;
    gap: 40px;
}

.hoverimg{
    opacity: 1;
    transition: .3s ease-in-out;
}

.hoverimg:hover{
    opacity: .8;
}

/* FOOTER */

.foot-container{
    margin-top: 40px;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 8px;
    /* flex-wrap: wrap; */
    font-size: 1.1rem;
}

.list i{
    display: inline-block;
    padding: 5px 5px;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.list i:hover{
    transform: scale(1.1);
}

.list{
    font-size: .8rem;
}

.list a{
    color: #333;
    text-decoration: underline;
}

.one{
    color: lightseagreen;
    font-size: 1.4rem;
    padding: 0px 2px;
    opacity: .8;
    transition: all .2s ease-in-out;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.one:hover{
    opacity: 1;
    transform: scale(1.1);
}

.cnt-links{
    margin: 5px 0px 0px 30px;
}

.cnt-links:hover{
}

@media screen and (max-width: 700px) {
    nav{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        gap: 8px;
    }

    .about{
        flex-direction: column;
    }

    .foot-container{
        flex-direction: column;
    }

}

@media (min-width: 700px) {
    .projects-container{
        display: flex;
    }
    .reverse{
        flex-direction: row-reverse;
    }
  }